{{ "<!-- recent post -->" | safeHTML }}
<div class="widget">
  <h5 class="widget-title">{{ i18n "featured_post" }}</h5>
  {{ "<!-- post-item -->" | safeHTML }}
  {{ range first 3 ( where site.RegularPages ".Params.featured" "=" true )}}
  <article class="widget-card mt-4">
    <div class="d-flex">
      {{ with .Params.image }}
        {{ $img := . }}
        {{ if and (not (hasPrefix $img "http")) (not (hasPrefix $img "/")) }}
          {{ $res := $.Resources.GetMatch $img }}
          {{ if $res }}
            <img loading="lazy" src="{{ $res.RelPermalink }}" class="rounded-circle" alt="post-thumb" style="height:70px;width:70px;object-fit:cover;">
          {{ else }}
            <img loading="lazy" src="{{ $img | absURL }}" class="rounded-circle" alt="post-thumb" style="height:70px;width:70px;object-fit:cover;">
          {{ end }}
        {{ else }}
          <img loading="lazy" src="{{ $img | absURL }}" class="rounded-circle" alt="post-thumb" style="height:70px;width:70px;object-fit:cover;">
        {{ end }}
      {{ end }}
      <div class="ml-3">
        <h6 class="mb-1"><a class="post-title" href="{{.Permalink}}">{{ .Title }}</a></h6>
        <div class="post-meta small">
          <a href="{{ `author/` | absLangURL }}{{ .Params.Author | urlize | lower }}">{{ .Params.Author | title }}</a> <span class="mx-1">|</span> {{ .PublishDate.Format "Jan 2, 2006" }}
        </div>
      </div>
    </div>
  </article>
  {{ end }}
</div>