.DS_Store
.env
.hugo_build.lock
.vscode/
*.afphoto~lock~
*.lock
/playwright-report/
/playwright/.cache/
/test-results/
# Playwright
content/test/
coverage/
full-test-output.txt
hugo_stats.json
node_modules
node_modules/
public/
resources/_gen/
test-output.log
test-results.json/
