<article class="article-overlapped-list row align-items-center mb-5">
  {{ if .Params.image }}
  <div class="col-md-6">
    {{ $img := .Params.image }}
    {{ if and (not (hasPrefix $img "http")) (not (hasPrefix $img "/")) }}
      {{ $res := .Resources.GetMatch $img }}
      {{ if $res }}
        <a href="{{ .Permalink }}"><img loading="lazy" class="w-100" src="{{ $res.RelPermalink }}" alt="post-image"></a>
      {{ else }}
        <a href="{{ .Permalink }}"><img loading="lazy" class="w-100" src="{{ $img | absURL }}" alt="post-image"></a>
      {{ end }}
    {{ else }}
      <a href="{{ .Permalink }}"><img loading="lazy" class="w-100" src="{{ $img | absURL }}" alt="post-image"></a>
    {{ end }}
  </div>
  {{ end }}
  <div class="col-md-6">
    <div class="card-block">
      <h2 class="h4"><a class="post-title" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
      <p>{{.Summary | truncate 100}}</p>
      <div class="mt-3 post-meta">
        <a href="{{ `author/` | absLangURL }}{{ .Params.Author | urlize | lower }}">{{ .Params.Author | title }}</a> <span class="mx-1">|</span>
        {{ .PublishDate.Format "Jan 2, 2006" }} <span class="mx-1">|</span> {{ range .Params.Categories }}
        <a href="{{ `categories/` | absLangURL }}{{ . | urlize | lower }}">{{ . | title }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</article>