{{ define "main" }}
<div class="flex flex-col items-center">

  <div class="flex md:flex-row flex-col">
    <div class="flex-col flex-none w-48 px-4 items-start grow-0">
    </div>

    <div class="flex-col prose pb-4 prose-blue dark:prose-dark">
      <h1>{{ .Title }}</h1>
    </div>

  </div>



  <div class="flex md:flex-row flex-col-reverse">
    <div class="flex-col flex-none w-48 px-4 items-start">
      {{- partial "sidebar.html" . -}}
    </div>

    <div class="flex-col lg:mr-auto lg:px-10">
      <p class="font-light text-gray-500 text-sm">
        {{ .Params.date.Format "January 2, 2006" }}
      </p>

      <article class="prose prose-blue dark:prose-dark">
        {{ .Content }}
      </article>

    </div>
  </div>
</div>

{{ end }}