{{ define "main" }}

<div class="flex flex-row items-center">
    <div class="flex-auto max-w-5xl mx-auto mb-16 px-4 prose lg:prose-lg prose-blue dark:prose-dark">
        <h1>{{ .Title }}</h1>
    </div>
</div>


<div class="flex flex-grow item-center">

      <div class="flex-none w-48 ml-auto px-4 items-start grow-0">
        {{- partial "sidebar.html" . -}}
      </div>


      <div class="flex-auto mr-auto px-10 prose lg:prose-lg prose-blue dark:prose-dark ">
        {{/*  <article class="prose lg:prose-lg prose-blue dark:prose-dark">  */}}
          {{ .Content }}
        {{/*  </article>  */}}
      </div>


</div>

{{ end }}
