{{- $duration := "7000" -}}

{{- $content := $ -}}
{{- /* Updated pattern to match lists with figure-wrapped images */ -}}
{{- $imageListPattern := `(?s)<ul>[\s\n]*(<li>.*?<img.*?>.*?</li>[\s\n]*)+</ul>` -}}
{{- $imageLists := findRE $imageListPattern $content -}}
{{- range $index,$il := $imageLists -}}
  {{- $listItems := findRE `(?s)<li>.*?<img.*?>.*?</li>` . -}}
  {{- $itemCount := len $listItems -}}
  {{- $items := `<ul>` -}}
  {{- range $i,$li := $listItems -}}
    {{- $img := index (findRE `(?s)<img[^>]*>` .) 0 }}
    {{- $items = print $items `<li id="c` $index `_slide` $i `">` $img `</li>` -}}
  {{- end -}}
  {{- $items = print $items `</ul>` -}}
  {{- $indicators := `<ol>` -}}
  {{- range $i,$li := $listItems -}}
    {{- $indicators = print $indicators `<li><a href="#c` $index `_slide` $i `"></a></li>` -}}
  {{- end -}}
  {{- $indicators = print $indicators `</ol>` -}}
  {{- $replacement := print `<div id="carousel_` $index `" class="auto-carousel" duration="` $duration `">` $items $indicators `<div class="prev">&lsaquo;</div><div class="next">&rsaquo;</div></div>` -}}
  {{- $content = replace $content . $replacement -}}
{{- end -}}
{{- $content | safeHTML -}}
