<section>

    {{ $authorName := .Site.Params.author }}
    {{ with .Site.Params.authorImage }}
    <div class="items-left">
        <div class="rounded-full mb-6 bg-red-100">
            <img src="{{.}}" alt="{{ $authorName }}" />
            {{ end }}
        </div>
        <div>
            <b>{{ $authorName }}</b>
            <div>
                {{ .Site.Params.homepage.tagline }}
            </div>
            <div>
                {{- partial "social.html" . -}}
            </div>
        </div>
    </div>
</section>